<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="bg-gray-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cat Support | Please sign in</title>
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/9732/9732800.png">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<nav class="bg-gray-900 fixed w-full top-0 left-0 z-40">
    <div class="container h-16 mx-auto">
        <div class="relative h-16 flex items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <a href="http://localhost:3000" class="flex-shrink-0 items-center cursor-pointer">
                    <img class="h-8 w-auto" src="https://cdn-icons-png.flaticon.com/512/9732/9732800.png" alt="Ticket App">
                </a>
            </div>
            <div class="flex items-center">
                <a href="http://localhost:8080/oauth2/authorize?response_type=code&client_id=client&scope=openid&redirect_uri=http://localhost:3000&code_challenge_method=S256&code_challenge=PWlAu3anniGd9FmIdI0nSnIW7y0Mburm2Az_NsIginA" class="bg-gray-700 p-1 text-white hover:text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-3">
                    Login
                    <svg xmlns="http://www.w3.org/2000/svg" stroke-linejoin="round" stroke-linecap="round" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="shrink-0 size-4"><path d="m15 4.5 7.5 7.5-7.5 7.5" /></svg>
                </a>
                <a href="http://localhost:3000/register" class="hover:bg-gray-700 relative p-1 text-white hover:text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-3">
                    Register
                    <svg xmlns="http://www.w3.org/2000/svg" stroke-linejoin="round" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke="currentColor" class="shrink-0 size-4"><path d="m15 4.5 7.5 7.5-7.5 7.5" /></svg>
                </a>
                <a href="http://localhost:3000/resetpassword" class="hover:bg-gray-700 relative p-1 text-white hover:text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-3">
                    Reset Password
                    <svg xmlns="http://www.w3.org/2000/svg" stroke-linejoin="round" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke="currentColor" class="shrink-0 size-4"><path d="m15 4.5 7.5 7.5-7.5 7.5" /></svg>
                </a>
            </div>
        </div>
    </div>
</nav>
<div class="mt-12">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600" th:text="${message}">404</h1>
            <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-2xl">Something went wrong.</p>
            <p class="mb-4 text-lg font-light text-gray-500">Sorry, something did not work. Please try again.</p>
            <a href="http://localhost:8080/oauth2/authorize?response_type=code&client_id=client&scope=openid&redirect_uri=http://localhost:3000&code_challenge_method=S256&code_challenge=PWlAu3anniGd9FmIdI0nSnIW7y0Mburm2Az_NsIginA" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Back to login</a>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>